torch==2.1.0
torchaudio==2.1.0
scipy==1.13.1
librosa==0.10.2
huggingface-hub>=0.28.1
munch==4.0.0
einops==0.8.0
transformers==4.46.3
soundfile==0.12.1
numpy==1.26.4
pyyaml
boto3
runpod
tqdm
matplotlib
flask
